# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.env/
.venv/

# Django
media/
staticfiles/

# Environment Variables
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Build
dist/
build/

# Cache
.cache/
pytest_cache/
.mypy_cache/

# Node
**/node_modules/

# TypeScript 빌드 캐시 (충돌 방지!)
*.tsbuildinfo

# SQLite
*.sqlite3
db.sqlite3Icon
