# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.env/
.venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment Variables
.env
.env.*

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Build
dist/
build/

# Cache
.cache/
pytest_cache/
.mypy_cache/

# Node
node_modules/